.p-header {
    color: white;
    margin-top: -3px;
}

.address-link, .tel-link, .email-link {
    color: inherit;
    text-decoration: none;
}

.address-link:hover, .tel-link:hover, .email-link:hover {
    color: inherit;
    text-decoration: none;
}

header {
    background-color: rgb(34, 34, 34);
}

@media screen and (max-width: 1200px) {
    .header-container {
        display: none;
    }
}

.header-row {
    height: 35px;
}

.socialmedia-icons {
    margin-top: 7px;
}

.info-icons {
    vertical-align: middle;
}

.instagram-link {
    margin-left: 10px;
}

.info-header {
    text-align: center;
    padding-top: 9px;
}

#logo-nav {
    width: 80%;
}

#navbar {
    height: 14vh;
}

.logo-nav-col {
    padding-top: 10px;
    padding-bottom: 10px; 
}